<!DOCTYPE html>
<html lang="en">
  <link href="./static/main.3f6952e4.css" rel="stylesheet">

<head id="head-placeholder">
  <link rel="preload" href="head.html" as="fetch">
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <!-- O conteúdo do head.html será inserido aqui -->
</head>


<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./" title="">01 : Home</a></li>
          <li><a href="./works" title="">02 : Portifolio</a></li>
          <li><a href="./about" title="">03 : Sobre nós</a></li>
          <li><a href="./contact" title="">04 : Fale conosco</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/space.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello,<br>
                <span id="typed-strings">
                  <span>Welcome to Atlas Tech</span>
                  <span>Inovation Experts</span>
                  <span>IA natives</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>